# Collateral Data
#### Airport names and IATA from Wikipedia
Wikipedia has a list of US airports that we can use. Note that this code may break whenever the wikipedia page changes. In production consider more reliable data sources.

In [107]:
from requests import get
from bs4 import BeautifulSoup
import pandas as pd

In [108]:
url='https://en.wikipedia.org/wiki/List_of_airports_in_the_United_States'

In [109]:
response = get(url)
html_soup = BeautifulSoup(response.text, 'html.parser')

In [110]:
table = html_soup.find_all('table')[2]

In [111]:
all_rows = table.find_all('tr')

In [112]:
data = [ 
    [
    str(re.sub(r'[^\x00-\x7f]',r' ', r.find_all('td')[4].text.strip())),     
    str(r.find_all('td')[2].text.strip())
    ] 
    for r in all_rows 
        if r.find_all('th') == [] and 
        str(r.find_all('td')[2].text.strip()) != '' and
        r.attrs.get('style') == None]

In [113]:
len(data)

381

In [114]:
df = pd.DataFrame(data, columns=["Name", "IATA"])

In [115]:
df[:20]

                                                 Name IATA
0      Birmingham Shuttlesworth International Airport  BHM
1                             Dothan Regional Airport  DHN
2   Huntsville International Airport (Carl T. Jone...  HSV
3                             Mobile Regional Airport  MOB
4        Montgomery Regional Airport (Dannelly Field)  MGM
5                                       Merrill Field  MRI
6         Ted Stevens Anchorage International Airport  ANC
7                                       Aniak Airport  ANI
8             Wiley Post Will Rogers Memorial Airport  BRW
9      Bethel Airport (also see Bethel Seaplane Base)  BET
10                   Merle K. (Mudhole) Smith Airport  CDV
11            Deadhorse Airport (Prudhoe Bay Airport)  SCC
12                                 Dillingham Airport  DLG
13                    Fairbanks International Airport  FAI
14                        Edward G. Pitka Sr. Airport  GAL
15                                      Homer Airport  HOM
16                       Juneau International Airport  JNU
17                            Kenai Municipal Airport  ENA
18                    Ketchikan International Airport  KTN
19                                King Salmon Airport  AKN